.movie-rating {
  display: flex;
}
#movie_card {
  gap: 0.5rem;
  width: 20%;
  margin: auto;
  line-height: 2;
  text-decoration: none;
  position: relative;
}

.like-btn {
  padding:8px ;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

#movie_card img {
  transition: ease 0.5s;
  width: 100%;
}
#movie_card img:hover {
  transform: scale(1.075);
}
#movie_card h3 {
  color: black;
  max-width: 75%;
}

.releaseYear {
  font-size: 12px;
  color: var(--grey);
}
.imdb {
  height: 17px;
  align-items: center;
  font-size: 12px;
}
.imdb img {
  width: 35px;
}
#fruit {
  width: 16px;
}
#movie-genre {
  color: rgba(156, 163, 175, 1);
  font-size: 12px;
}

/* MOVIE PAGE*/
#movies {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  font-size: 20px;
}

/* SIDE BAR */
#sidebar {
  border: 1px solid var(--grey);
  border-radius: 0 3rem 3rem 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
}
#logo2 {
  padding: 2rem;
}
#navlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  text-align: center;
}
.navlink,
#logout {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin: 0;
  width: 100%;
  padding: 1rem 3.5rem;
  font-weight: 500;
}
.movieslink {
  background-color: var(--pink);
  border-right: 5px solid var(--rose-color);
}

/* PREVIEW PANEL */
#preview {
  width: 100%;
  padding: 3rem;
  position: relative;
}
.preview_img img {
  width: 100%;
  border-radius: 1rem;
}
#playbtn {
  position: absolute;
  top: 30%;
  right: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
}
.play {
  width: 80%;
  height: 6rem;
  border-radius: 50%;
  opacity: 0.5;
  text-align: center;
}
.playIcon {
  text-align: center;
  margin: auto;
  background-color: grey;
  border-radius: 50%;
  padding: 0.15rem;
  position: absolute;
  right: 5.5rem;
  top: 4.5rem;
  color: aliceblue;
  transform: scale(4);
}
.playIcon:hover {
  background-color: var(--rose-color);
  cursor: pointer;
  margin-left: -3rem;
}
#playbtn p {
  color: white;
  font-size: 20px;
}
.descriptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}
.movie_title {
  font-size: 20px;
  padding: 0;
}
.movie_desc {
  width: 70%;
  gap: 1rem;
}
.movie_desc p {
  font-size: 18px;
  margin: 1rem 0;
}
.story {
  font-size: 16px;
}

.tag {
  color: var(--rose-color);
  border: 1px solid rgba(128, 128, 128, 0.319);
  border-radius: 15px;
  padding: 0.25rem 0.75rem;
  margin-left: 1rem;
  font-size: 14px;
}
.rating_ctn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}
.movie_rating {
  display: flex;
  justify-content: right;
  gap: 1rem;
}
.movie_rating p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  gap: 8px;
}
.rate {
  color: var(--grey);
  display: flex;
  align-items: center;
}

.showtime {
  display: flex;
  flex-direction: row;
  background-color: var(--rose-color);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  justify-content: center;
}
.more {
  display: flex;
  flex-direction: row;
  background-color: var(--pink);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  align-items: center;
  color: black;
  border: 1px solid var(--rose-color);
  justify-content: center;
}

.top-rated {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.595);
  border-radius: 8px;
  width: 98%;
  font-size: 18px;
}
.top-rated select {
  width: 60%;
  padding: 1rem;
  margin-right: 10px;
  border: none;
  font-size: 18px;
}

.top {
  background-color: var(--rose-color);
  border-radius: 8px;
  height: 100%;
  padding: 1rem;
  color: white;
  width: 35%;
}

/* MEDIA QUERY FOR PHONE SCREEN */
@media screen and (max-width: 450px) {
  /* MOVIE CARD */
  #movie_card {
    gap: 2rem;
    width: 45%;
  }
  #movie_card {
    line-height: normal;
  }
  #movie_card h3 {
    max-width: 100%;
  }
  .movie-rating {
    transform: scale(0.8);
    left: 0;
    margin-left: -1rem;
  }
  .back-home {
    padding: 5px 1rem;
    background-color: var(--rose-color);
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 12px;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
  }

  #poster {
    background-color: blue;
    /* display: none; */
    width: 100%;
  }
  #sidebar {
    display: none;
    width: 10%;
    position: fixed;
    top: 25%;
  }
  #preview {
    padding: 0rem;
    width: 100vw;
    overflow: hidden;
  }
  .preview_img {
    width: 100%;
    margin: 0 auto;
  }
  .preview_img img {
    width: 100%;
    border-radius: 0 0 8px 8px;
    background-color: chartreuse;
  }
  #playbtn {
    top: 0%;
    right: 25vw;
  }
  .playIcon {
    transform: scale(2);
  }
  .showtime,
  .more,
  .rating_ctn {
    display: none;
  }

  #playbtn p {
    margin-top: -20px;
    margin-left: -6.5rem;
    font-size: 14px;
  }
  .descriptions {
    padding: 1rem;
    width: 100%;
  }
  .movie_desc {
    width: 100%;
  }
  .movie_title {
    gap: 2rem;
  }
  .movie_title b {
    margin: 1rem;
  }
  .tag {
    margin-top: 1rem;
    font-size: 12px;
  }
  .story {
    width: 100%;
    font-size: 12px;
  }
}
