#hero {
  background-image: url("../../assets/Poster.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  padding: 10rem 5rem;
  margin-top: -5.5rem;
}

#hero_text {
  display: flex;
  flex-direction: column;
  max-width: 26%;
  height: max-content;
  color: var(--white);
  padding: 1rem;
  gap: 1rem;
}
.tomato {
  transform: scale(0.7);
}

#trailer_btn {
  display: flex;
  width: max-content;
  background-color: var(--rose-color);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
}

.play_icon {
  margin: 5px auto 0;
}

.movie-rating {
  display: flex;
  gap: 2rem;
  font-weight: 200;
}
.imdb {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 450px) {
  #hero {
    padding: 10rem 1rem;
    height: max-content;
  }
  #hero_text {
    padding: 0;
    max-width: 100%;
  }
  #hero_text h1 {
    font-size: 30px;
    max-width: 70%;
  }
  .tomato {
    transform: scale(0.7);
  }
  #hero_description p {
    line-height: 2;
  }
}
