.featured-title {
  display: flex;
}

#body {
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
}

.featured-title {
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}
.featured-title p {
  color: var(--rose-color);
  font-size: 18px;
}
#movies-ctn {
  margin: 1rem auto;
  width: 100%;
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: auto auto auto auto; */
  gap: 2rem;
}
#trailer_btn {
  color: var(--white);
  text-decoration: none;
}
#trailer_btn:hover {
  text-decoration: underline;
  background-color: brown;
}

@media screen and (max-width: 450px) {
  #body {
    width: 100vw;
    padding: 1rem;
  }
  #movies-ctn {
    width: 100%;
    grid-template-columns: auto;
    margin: 1rem auto;
    gap: 1rem;
  }
  .featured-title {
    flex-direction: column;
  }
  .featured-title h1 {
    font-size: 30px;
  }
}
