#header {
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  /* position: sticky; */
  width: 100%;
}
  .logoBigScreen{
    display: flex;
  }
.logoSmallScreen{
  display: none;
}
#search {
  width: 40%;
  display: flex;
  align-items: center;
}
#search input {
  width: 100%;
  justify-content: left;
  text-align: left;
  padding: 12px 0.5rem;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
}
#search input::placeholder {
  color: white;
}

#search input:focus {
  background: none;
}
#search-icon {
  color: white;
  margin-left: -3rem;
  padding: 1rem;
  background: none;
  border: none;
cursor: pointer;
}

#account {
  color: white;
  width: 15%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
#menu {
  background-color: var(--rose-color);
  border-radius: 50%;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  margin: auto;
}
#hamburger {
  transform: scale(1.75);
  margin: auto;
}

@media screen and (max-width: 450px) {
  #header {
    padding: 8px 1rem;
    flex-wrap: wrap;
  }
  #account p {
    display: none;
  }
  #search {
    /* position: absolute;
    top: 10%;
    left: 15%; */
    width: 65%;
    min-width: max-content;
    margin: 0 auto;
  }
  .logoBigScreen{
    display: none;
  }
.logoSmallScreen{
  display: flex;
}

}
