#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  text-decoration: none;
  color: black;
}
.footer-links .link {
  color: black;
}
.copyright {
  line-height: 2;
}

@media screen and (max-width: 450px) {
  #footer {
    margin-top: 5rem;
  }
  .footer-links {
    flex-direction: column;
    margin: auto;
  }
  .footer-links .link {
    color: black;
    text-align: center;
  }
  .copyright a{
      color: black;
  }
}
